#panel-1-1 {
    background-image: url(futurama-1.png);
    background-size: cover;
    width: 640px;
    height: 480px;
    border: 5px black solid;
}

#panel-1-1 > .speech-bubble {
    top: -155px;
    left: 320px;
    width: 180px;
}

#panel-2-1 {
    background-image: url(futurama-2.png);
    background-size: cover;
    width: 320px;
    height: 240px;
    border: 5px black solid;
}

#panel-2-1 > .speech-bubble {
    top: -125px;
    left: 10px;
    width: 150px;
}

#panel-2-2 {
    background-image: url(futurama-3.png);
    background-size: cover;
    width: 320px;
    height: 240px;
    border: 5px black solid;
}

#panel-2-2 > .speech-bubble {
    top: -125px;
    left: -20px;
    width: 150px;
}
